@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background: #000000;
    font-family: 'Nunito', sans-serif;
}
.container{
    width: 30em;
}
.head__section img{
    display: block;
    margin: 20px auto 20px auto;
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 50%;
}
.head__section p{
    text-align: center;
    color: #fff;
}
.head__section .intro{
    font-size: 1.8em;
}
.social__links ul li{
    width: 100%;
    margin: 1.2rem 0;
    padding: 0.4rem 0.8rem;
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 0px );
    border-radius: 5px;
    transition: background 0.25s;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 0 1rem  rgba(255, 255, 255, .12);
}
.js-tilt-glare{
    border-radius: 5px;
}
.social__links ul li a{
    width: 100%;
    display: flex;
    align-items: center;
    color: #ffff;
    font-size: 1rem;
}
.social__links ul li a i{
    width: 4rem;
    text-align: center;
    line-height: 4rem;
    font-size: 1.8rem;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    transform: scale(1.6) translateZ(50px);
    transition: 0.25s;
}
.social__links ul li a span{
    margin-left: 15px;
    line-height: 1.4rem;
}
.social__links ul .instagram:hover{
    background: #fd5949;
    box-shadow: 0 0 1rem  rgb(253, 88, 73);
}
.social__links ul .discord:hover{
    background:#5865F2;
    box-shadow: 0 0 1rem  rgb(88, 101, 242);
}
.social__links ul .polywork:hover{
    background:#88CFB0;
    box-shadow: 0 0 1rem  rgb(136, 207, 176);
}
.social__links ul .google:hover{
    background: #0F9D58;
    box-shadow: 0 0 1rem  rgb(15, 157, 88);
}
.social__links ul .goodreads:hover{
    background: #00635D;
    box-shadow: 0 0 1rem  rgb(0, 99, 93);
}
.social__links ul .letterboxd:hover{
    background: #2c3440;
    box-shadow: 0 0 1rem  rgb(44, 52, 64);
}
.social__links ul .discogs:hover{
    background: #333333;
    box-shadow: 0 0 1rem  rgb(51, 51, 51);
}
.social__links ul .polywork:hover{
    background: #2F1193;
    box-shadow: 0 0 1rem #2F1193;
}
.social__links ul .twitter:hover{
    background: #1D9CF0;
    box-shadow: 0 0 1rem #1D9CF0;
}
.social__links ul .facebook:hover{
    background: #3b5998;
    box-shadow: 0 0 1rem #3b5998;
}
footer {
    text-align: center;
    color: #fff;
}
@media only screen and (max-width: 549px) {
    .container{
        width: 88vw;
    }
}
